{% extends 'base.html' %}
{% block content %}
    <div class="landing-block">
        <h1>Welcome to Recipedia</h1>
            <ul class="collapsible popout">
            {% for row in result %}
                <li>
                    <div class="collapsible-header"><i class="material-icons">local_dining</i>{{row["recipe_category"]}}</div>
                    <div class="collapsible-body"><span>{{row["cuisine"]}}</span></div>
                </li>
            {% endfor %}
            </ul>
    </div>
    
{% endblock %}