{% extends 'base.html' %}
{% block content %}
    <div class="landing-block">
        <h1>This is the Recipes Page</h1>
            <ul class="collapsible expandable">
                {% for recipe in result %}
                <li>
                    <div class="collapsible-header"><i class="material-icons">local_dining</i>{{recipe.recipe_name}}</div>
                    <div class="collapsible-body"><span>{{recipe.method}}</span></div>
                </li>
                {% endfor %}
            </ul>
          
    </div>
{% endblock %}