{% extends 'base.html' %}
{% block content %}
    <div class="landing-block container">
        <h1>{{recipe.recipe_name}}</h1>
        <div class="landing-block">
            <div class ="row viewer">Creator : {{recipe.user}} </div>
            <div class ="row">
                <div class="col 6 viewer">Cuisine : {{recipe.cuisine}}</div>
                <div class="col 6 viewer">Category : {{recipe.category}}</div>
            </div>
            <div class ="row">
                <div class="col 6 viewer">Timing (mins) : {{recipe.timing}}</div>
                <div class="col 6 viewer">Views : {{recipe.views}}</div>
            </div>
            <div class ="row viewer">Ingredients : {{recipe.ingredients}} </div>
            <div class ="row viewer">Method : {{recipe.method}} </div>
        </div>
    </div>
{% endblock %}